

/* footer wala css start */
body{
    margin: 0px;
}
#mainp{
    
    background-color:#F0F0F0;
    
}

#containerp{
    display: flex;
    width:70%;
    background-color:#F0F0F0;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2%;
    margin-bottom:1%;
}

#social{
    width:50%;
    display: flex;
    align-items: center;
    border-right-width: 2px;
    border-right-color: gainsboro;
    border-right-style: solid;
}

#social > h4, p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: auto;
    margin-right: auto;
}

#social > p{
    font-size: 20px;
}

#topright{
    width:50%;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

#app{
    width:40%;
    display: flex;
    align-items: center;
    
    
}

#app > img{
    float: left;
    width:  60px;
    height: 60px;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
}

#app > h4{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: auto;
    margin-right: auto;
}

#scantext{
    width:50%;
    display: block;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

#scantext>p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12px;
    margin-bottom: 5px;
    margin-top: 0%;
}

#scantext>input{
    background-color: black;
    color: white;
    width: 100px;
    border-radius: 5px;
    border-width: 0px;
}

#footergrid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: auto;
    width: 70%;    
    margin-left: auto;
    margin-right: auto;
    border-top: 2px solid gainsboro;
    border-bottom: 2px solid gainsboro;
    padding-top: 1%;
    padding-bottom: 1%;
}

.gridcontent{
    width:80%;
    margin-left:auto;
    margin-right: auto;
    height: max-content;
}

.gridcontent>h5{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 30px;
}

.gridcontent>p{
    font-family:'Arial';
    font-size: 12px;
    margin-bottom: 30px;
    
}
#disclaimer{
    margin-top: 30px;
    padding-bottom: 20%;
}

#disclaimer>p{
    
    text-align: center;
    font-family:'Arial';
    font-size: 11px;
    margin-top: 15px;
}

#lastline{
    width:max-content;
    display: flex;
    margin: auto;
}
#lastline>h6{
    font-family:'Arial';
    font-size: 11px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}



/* footer wala css end */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family:sans-serif;
    background-color:white;

}
#fullContent-container{
 margin-left:1%;
 margin-right:1%;
 margin-top: 1%;
 border: 2px solid black;
 /* overflow-x: hidden; */
}
.top-bar-link{
    display:flex;
    justify-content:space-evenly;
    border:5px solid red;
    margin-right:50%;
}
.top-bar-link>div>a{
    text-decoration:underline;
    color:black;
    /* padding:1%; */
}


#container{
    display:flex;
    width:100%;
    height:auto;
    margin-left:0%;
    margin-right:0%;
    margin-top: 0%;
    border:2px solid red;
    /* gap:10%; */

}
#left-contaiiner{
 width:65%;
 height:auto;
 border:2px solid black;
 margin-right:1%;
}
.flex-text3{
    display:flex;
    flex-direction:column;
}
.item3{
    display:flex;
    justify-content: space-between;
    margin-right:40%;
    background-color:pink;
    border:2px solid red;
}


.flex-image-display{
    display:flex;
    flex-direction:row;
}
.grid-image-display{
    display:grid;
    grid-template-columns: repeat(1,1fr);
    width:30%;
    height:auto;
}
.grid-image-display>div>img{
    width:90%;
    height:auto;
    opacity:.7;

}
.grid-image-display>div>img:hover{
    width:90%;
    height:auto;
    opacity:1;
    border:1px solid grey;
    cursor: pointer; 
}

#single-imgdiv{
   
    width:80%;
    height:auto;
    overflow:hidden;
}
#single-img{
    width:100%;
    height:80%;
}
#right-container{
    width:35%;
    height:auto;
    margin-right:10%;
    border:2px solid teal;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.price-cut-flex{
    display:flex;
    flex-direction: column;
}
.price-cut-flex-item{
    display:flex;
    flex-direction: row;
    border:1px solid red;
}

.color-selector-grid{
    display:grid;
    grid-template-columns: repeat(9,1fr);
   gap:1%;
   border:1px solid red;
   border-radius:50%;

}
.color-selector-grid>div{
    border-radius:50%;
    background-color:purple;
    color:white;
}
.color-selector-grid-textflex{
 display:flex;
}
/* quantity add remove css started */
.Quantity-flex{
    display:flex;
}
/* add to cart button css started */

.addToCart-btn{
    display:flex;
    background-color:rgb(20,113,138);
    width:90%;
    height:auto;
    /* padding-left:40%;
    padding-right:40%; */
    padding-top:2%;
    padding-bottom:2%;
    align-items:center;
    justify-content:center;
    color:white;
    cursor: pointer;

}
.addToCart-btn>div>i{
    /* margin:43%; */
    color:white;
    font-size:40px;
    padding-right:12%;
}










#styleit-our{
    text-align: center;
    color:rgb(70,70,70);
    font-size:25px;
    font-weight:bold;
    width:100%;
    height:auto;
    margin-left:5%;
    margin-right:5%;
    margin-top: 4%;
    border:2px solid greenyellow;
}
hr{
    width:90%;
    COLOR:black;
    font-weight:bold;

}