
   
          
            #mainp{
                
                background-color:#F0F0F0;
                
            }

            #containerp{
                display: flex;
                width:70%;
                background-color:#F0F0F0;
                margin-left: auto;
                margin-right: auto;
                padding-top: 2%;
                margin-bottom:1%;
            }

            #social{
                width:50%;
                display: flex;
                align-items: center;
                border-right-width: 2px;
                border-right-color: gainsboro;
                border-right-style: solid;
            }

            #social > h4, p{
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                margin-left: auto;
                margin-right: auto;
            }

            #social > p{
                font-size: 20px;
            }

            #topright{
                width:50%;
                display: flex;
                align-items: center;
                margin-left: auto;
                margin-right: auto;
            }

            #app{
                width:40%;
                display: flex;
                align-items: center;
                
                
            }

            #app > img{
                float: left;
                width:  60px;
                height: 60px;
                object-fit: cover;
                margin-left: auto;
                margin-right: auto;
            }

            #app > h4{
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                margin-left: auto;
                margin-right: auto;
            }

            #scantext{
                width:50%;
                display: block;
                align-items: center;
                margin-left: auto;
                margin-right: auto;
            }

            #scantext>p{
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                font-size: 12px;
                margin-bottom: 5px;
                margin-top: 0%;
            }

            #scantext>input{
                background-color: black;
                color: white;
                width: 100px;
                border-radius: 5px;
                border-width: 0px;
            }

            #footergrid{
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                gap: auto;
                width: 70%;    
                margin-left: auto;
                margin-right: auto;
                border-top: 2px solid gainsboro;
                border-bottom: 2px solid gainsboro;
                padding-top: 1%;
                padding-bottom: 1%;
            }

            .gridcontent{
                width:80%;
                margin-left:auto;
                margin-right: auto;
                height: max-content;
            }

            .gridcontent>h5{
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                margin-bottom: 30px;
            }

            .gridcontent>p{
                font-family:'Arial';
                font-size: 12px;
                margin-bottom: 30px;
                
            }
            #disclaimer{
                margin-top: 30px;
                padding-bottom: 20%;
            }

            #disclaimer>p{
                
                text-align: center;
                font-family:'Arial';
                font-size: 11px;
                margin-top: 15px;
            }

            #lastline{
                width:max-content;
                display: flex;
                margin: auto;
            }
            #lastline>h6{
                font-family:'Arial';
                font-size: 11px;
                margin-left: auto;
                margin-right: auto;
                justify-content: center;
            }
      
